<hr>
<footer class="page-footer font-small teal pt 4">
  <div class="container-fluid text-center text-md-left">
    <div class="row text-muted">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold">University Reutlingen</h5>
        <p>72762 Reutlingen
          <br>
          Faculty for informatics
          <br>
          Human-Centered-Computing
          <br>
          2nd study semester
          <br>
          <strong>Subject:</strong> Visualisierung
          <br>
          <strong>Supervisor:</strong> Prof. Dr. rer. nat. Uwe Kloos
        </p>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase font-weight-bold">Authors of this website</h5>
        <p>
          <strong>Tobias Baader</strong> <br>
          Human-Centered Computing Student |
          <a href="Tobias.Baader@Student.Reutlingen-University.de">Tobias.Baader@Student.Reutlingen-University.de</a>
          <br>
          <strong>Marius Matthäuser Bauer</strong> <br>
          Human-Centered Computing Student |
          <a href="Marius_Matthäus.Bauer@Student.Reutlingen-University.de">Marius_Matthäus.Bauer@Student.Reutlingen-University.de</a>
          <br>
          <strong>Merve Emirzeoglu</strong> <br>
          Human-Centered Computing Student |
          <a href="Merve.Emirzeoglu@Student.Reutlingen-University.de">Merve.Emirzeoglu@Student.Reutlingen-University.de</a>
          <br>
          <strong>Giuseppe Ferrera</strong> <br>
          Human-Centered Computing Student |
          <a href="Giuseppe.Ferrera@Student.Reutlingen-University.de">Giuseppe.Ferrera@Student.Reutlingen-University.de</a>
        </p>
      </div>
    </div>
  </div>
</footer>

