a, a:hover {
  color: inherit;
}

.game-card {
  width: 160px;
}

.game-card-body {
  padding: 0.5rem;
}

.game-card-image {
  height: 160px;
  width: 160px;
  background-size: cover;
  background-repeat: no-repeat;
}

.game-card-text {
  font-size: 9px;
  font-style: italic;
}

.card-game-name {
  font-weight: 600;
  font-size: 12px;
  font-style: unset;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.placeholder {
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../../../assets/no_image.png');
}
