.app-breadcrumb-bg {
  background-color: inherit;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  border-radius: unset;
  padding: unset;
  border: unset;
  border-color: unset;
  margin-top: 1.5rem;
}

