<div class="graph-wrapper">
  <h2 class="site-heading">Evolution of Shooter Popularity in Video Games for Publishers</h2>
  <!-- Place Graph Component here-->

  <a routerLink="publisher/Rockstar Games">
    <img src="../../assets/mocked_publisher_graph.png" style="width: 100%;">
  </a>

</div>
<hr>
<div class="genre-cover-wrapper">
  <app-cover-carousel [data]="this.data"></app-cover-carousel>
  <ng-container *ngFor="let genre of this.dataService.getGenres()">
    <app-cover-carousel [data]="this.dataService.getStaticCarouselData(genre,1970,2019)" [cardName]="genre"></app-cover-carousel>
  </ng-container>
</div>
