<div class="graph-wrapper">
  <h2 class="site-heading">Evolution of Genre Popularity in Video Games</h2>
  <!-- Place Graph Component here-->
  <app-stacked-line-graph></app-stacked-line-graph>
</div>
<hr>
<div class="genre-cover-wrapper">
  <app-cover-carousel [data]="this.data"></app-cover-carousel>
  <app-cover-carousel [data]="this.data" [cardName]="'Shooter'"></app-cover-carousel>
  <app-cover-carousel [data]="this.data" [cardName]="'Plattformer'"></app-cover-carousel>
  <app-cover-carousel [data]="this.data" [cardName]="'Strategy'"></app-cover-carousel>
  <app-cover-carousel [data]="this.data" [cardName]="'RPG'"></app-cover-carousel>
</div>
