.game-details-container {
  opacity: 0.8;
  font-size: 18px;
}

app-info-badge{
  font-size: 30px;
}

.graph {
  margin-top: 200px;
  padding-top: 200px ;
}

.label {
  font-weight: 600;
}

.image-col {
  margin: auto;
  text-align: center;
  height: 300px;
}

.image {
  height: 100%;
  max-width: 100%;
}
