<h1>{{game?.name}}</h1>
<div class="row">
  <div class="col-md-6 image-col col-sm-12">
    <img class="image" [src]="'https://www.vgchartz.com/' + this.game?.imgUrl">
  </div>
  <div class="col-md-6 col-sm-12">
    <h3>Game Details</h3>
    <hr>
    <div class="container game-details-container">
      <div class="row">
        <div class="col">
          <span class="label">Name</span>
        </div>
        <div class="col">
          <span>{{this.game?.name}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Platform</span>
        </div>
        <div class="col">
          <span>{{this.game?.plattform}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Genre</span>
        </div>
        <div class="col">
          <span>{{this.game?.genre}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Publisher</span>
        </div>
        <div class="col">
          <span>{{this.game?.publisher}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Release Year</span>
        </div>
        <div class="col">
          <span>{{this.game?.year}}</span>
        </div>
      </div>

      <div class="row" *ngIf="this.game?.globalSales">
        <div class="col">
          <span class="label">Sales</span>
        </div>
        <div class="col">
          <span>{{this.game?.globalSales}} Millions</span>
        </div>
      </div>

      <div class="row" *ngIf="this.game?.userScore">
        <div class="col">
          <span class="label">User Score</span>
        </div>
        <div class="col">
          <span>{{this.game?.userScore}}</span>
        </div>
      </div>

      <div class="row" *ngIf="this.game?.criticScore">
        <div class="col">
          <span class="label">Critics Score</span>
        </div>
        <div class="col">
          <span>{{this.game?.criticScore}}</span>
        </div>
      </div>

      <div class="row" *ngIf="this.game?.esrbRating">
        <div class="col">
          <span class="label">Rating</span>
        </div>
        <div class="col">
          <span>{{this.game?.esrbRating}}</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div style="margin-top: 50px; width: 100%">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h4 class="w-100">Comparison to most successful {{game.genre}} games  </h4>
        <hr>
        <bar-graph class="graph" *ngIf="this.gamesOfThisPublisher" [data]="this.gamesOfThisPublisher" [game]="this.game" [prop]="'sales'"></bar-graph>
      </div>
      <div class="col-md-6 col-sm-12">
        <h4 class="w-100">Graph Title</h4>
        <hr>
      </div>
    </div>
  </div>
</div>
