<h1>{{game.name}}</h1>
<div class="row">
  <div class="col-5">
    <img [src]="'https://www.vgchartz.com/' + this.game.imgUrl" style="width: 350px">
  </div>
  <div class="col-7">
    <h3>Game Details</h3>
    <hr>
    <div class="container game-details-container">
      <div class="row">
        <div class="col">
          <span class="label">Name</span>
        </div>
        <div class="col">
          <span>{{this.game.name}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Platform</span>
        </div>
        <div class="col">
          <span>{{this.game.plattform}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Genre</span>
        </div>
        <div class="col">
          <span>{{this.game.genre}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Publisher</span>
        </div>
        <div class="col">
          <span>{{this.game.publisher}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Release Year</span>
        </div>
        <div class="col">
          <span>{{this.game.year}}</span>
        </div>
      </div>

      <div class="row" *ngIf="this.game.globalSales">
        <div class="col">
          <span class="label">Sales</span>
        </div>
        <div class="col">
          <span>{{this.game.globalSales}} Millions</span>
        </div>
      </div>

      <div class="row" *ngIf="this.game.userScore">
        <div class="col">
          <span class="label">User Score</span>
        </div>
        <div class="col">
          <span>{{this.game.userScore}}</span>
        </div>
      </div>

      <div class="row" *ngIf="this.game.criticScore">
        <div class="col">
          <span class="label">Critics Score</span>
        </div>
        <div class="col">
          <span>{{this.game.criticScore}}</span>
        </div>
      </div>

      <div class="row" *ngIf="this.game.esrbRating">
        <div class="col">
          <span class="label">Rating</span>
        </div>
        <div class="col">
          <span>{{this.game.esrbRating}}</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container" style="margin-top: 50px ;">
    <div class="row">
      <div class="col">
        <h4 class="w-100">Graph Title</h4>
        <img src="../../../assets/mock_graph.png" style="width: 100%;">
      </div>
      <div class="col">
        <h4 class="w-100">Graph Title</h4>
        <img src="../../../assets/mock_graph_2.png" style="width: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="w-100">Graph Title</h4>
        <img src="../../../assets/mock_graph.png" style="width: 100%;">
      </div>
      <div class="col">
        <h4 class="w-100">Graph Title</h4>
        <img src="../../../assets/mock_graph_2.png" style="width: 100%;">
      </div>
    </div>
  </div>
</div>
