<h2 class="site-heading">Evolution of Genre Popularity in Video Games</h2>
<div class="flex-container">
  <div *ngIf="true" class="flex-item graph-data-selection-frame"> <!-- ToDo nur anzeigen wenn in tiefe 2 -->
    <div class="chevron-left" (click)="previousDataset()">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
    </div>
    <div class="selection">
      <span *ngIf="mockedDataSet[mockedCurrentDatasetIndex].from === 0" class="badge badge-light">
        <strong>Top {{mockedDataSet[mockedCurrentDatasetIndex].to}} Publishers</strong>
      </span>
      <span *ngIf="mockedDataSet[mockedCurrentDatasetIndex].from !== 0" class="badge badge-light">
        <strong>Top {{mockedDataSet[mockedCurrentDatasetIndex].from}} - {{mockedDataSet[mockedCurrentDatasetIndex].to}} publishers</strong>
      </span>
    </div>
    <div class="chevron-right" (click)="nextDataSet()">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
        <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </div>
  </div>
</div>
<div id="my_chart"></div>
