.example-graph-space {
    width: 100%;
    height: 400px;
    background-color: aquamarine;
}

.flex-container{
  display:flex;
  justify-content: center;
}

.graph-data-selection-frame {
  display: flex;
}

.selection {
  width: 250px;
  text-align: center;
  font-size: 26px;
}


.chevron-left, .chevron-right {
  cursor: pointer;
  font-size: 26px;
}

.chevron-left:hover, .chevron-right:hover {
  opacity: 0.5;
}


#my_chart {
  text-align: center;
}
