<h1>Game Title</h1>
<div class="row">
  <div class="col-5">
    <img src="https://www.vgchartz.com/games/boxart/full_5563178AmericaFrontccc.jpg" style="width: 100%">
  </div>
  <div class="col-7">
    <h3>Game Details</h3>
    <hr>
    <div class="container game-details-container">
      <div class="row">
        <div class="col">
          <span class="label">Name</span>
        </div>
        <div class="col">
          <span>Lorem Ipsum</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Platform</span>
        </div>
        <div class="col">
          <span>Lorem Ipsum</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Genre</span>
        </div>
        <div class="col">
          <span>Lorem Ipsum</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Publisher</span>
        </div>
        <div class="col">
          <span>Lorem Ipsum</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Release Year</span>
        </div>
        <div class="col">
          <span>Lorem Ipsum</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Sales</span>
        </div>
        <div class="col">
          <span>Lorem Ipsum</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">User Score</span>
        </div>
        <div class="col">
          <span>Lorem Ipsum</span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span class="label">Rating</span>
        </div>
        <div class="col">
          <span>Lorem Ipsum</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="w-100">Graph Title</h4>
        <img src="../../../../assets/mock_graph.png" style="width: 100%;">
      </div>
      <div class="col">
        <h4 class="w-100">Graph Title</h4>
        <img src="../../../../assets/mock_graph_2.png" style="width: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="w-100">Graph Title</h4>
        <img src="../../../../assets/mock_graph.png" style="width: 100%;">
      </div>
      <div class="col">
        <h4 class="w-100">Graph Title</h4>
        <img src="../../../../assets/mock_graph_2.png" style="width: 100%;">
      </div>
    </div>
  </div>
</div>
