<h2 class="site-heading">Evolution of Genre Popularity in Video Games</h2>
<div class="graph-wrapper">
  <!-- Place Graph Component here-->
  <app-stacked-line-graph></app-stacked-line-graph>
</div>
<hr>
<div class="genre-cover-wrapper">
  <app-cover-carousel [data]="this.data"></app-cover-carousel>
  <ng-container *ngFor="let genre of genres">
    <app-cover-carousel [data]="this.dataService.getStaticCarouselData(genre,1980,2019)" [cardName]="genre"></app-cover-carousel>
  </ng-container>
</div>
